<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>UIAppFonts</key>
	<array>
		<string>MontserratAlternates-Bold.ttf</string>
		<string>MontserratAlternates-SemiBold.ttf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>clanpro-black-opentype.otf</string>
		<string>clanpro-bold-opentype.otf</string>
		<string>clanpro-book-opentype.otf</string>
		<string>clanpro-condbook-opentype.otf</string>
		<string>clan-book-webfont.ttf</string>
		<string>clan-med-webfont.ttf</string>
		<string>Montserrat-Hairline.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-UltraLight.otf</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Hawk Ride</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Hawk Ride picks you up exactly where you are. To start riding, choose &quot;Allow&quot; so the app can find your location.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Hawk Ride picks you up exactly where you are. To start riding, choose &quot;Allow&quot; so the app can find your location.</string>
	<key></key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Hawk Ride picks you up exactly where you are. To start riding, choose &quot;Allow&quot; so the app can find your location.</string>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiZ2o2NDQ2MzUiLCJhIjoiY2p1M2swcXFkMG8xbDQ0bjd0N29manJqYiJ9.VM2XMYVw-mjaNNo_WY-4gg</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
</dict>
</plist>
